

.nav_bar {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    
    height: 50px;
    background-color: grey;

    a {
        color: whitesmoke;
    }

}

h1 {
    color: blue;
    text-align: left;
}

h3 {
    color: blue;
    text-align: left;
}


.footer {
    display: flex;
    justify-content: space-evenly;
    text-align: center;

    height: 50px;
    background-color: green; 
}