* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Luckiest';
    src: url('fonts/luckiestguy-regular-webfont.woff');
}

@font-face {
    font-family: 'Kanit';
    src: url('fonts/kanit/kanit-extralight-webfont.woff');
}

@font-face {
    font-family: 'Kanit2';
    src: url('fonts/kanit/kanit-medium-webfont.woff');
}

.nav_bar {

    z-index: 2;

    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 25px;
    height: 70px;
    
    background: linear-gradient(to bottom, rgb(68, 67, 67), rgb(230,230,230));

    a {
        color: whitesmoke;
        font-size: 30px;
        padding: 10px;
        flex: 0.5 1 auto;
        font-family: Luckiest;
    }
    a:hover {
        color: rgb(71, 71, 71)
    }
}


/*---------------------------------------------------------------------------------*/

.section {

    position: relative;
    z-index: 1;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    grid-auto-rows: minmax(auto, auto);

    background: linear-gradient(to top, rgb(93, 92, 92), rgb(230, 230, 230));

    min-height: 80vh;
   
    a {
        color: whitesmoke;
        font-size: 20px;
        font-family: Kanit;

        padding: 0px;
        flex: 0, 1,  auto;
        margin: 20px;

        grid-column: 3;
        grid-row: 2;

    }
    a:hover {
        color: rgb(22, 22, 22);
    }


    h1 {
        font-family: Kanit2;
        color: blue;
        text-align: center;
        
        grid-column: 3 / 8;
        grid-row: 1;
        
    }
    
    h3 {
        font-family: Kanit2;
        color: blue;
        text-align: right;
        grid-column: 4 / 6;
        grid-row: 2;
    }

    img {
        grid-column: 2;
        grid-row: 1;

        width: 850px;
        height: 690px;
    }
}


/*------------------------------------------------------------------------------*/


.footer {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 10px;
    height: 50px;
    background-color: green; 

    p {
        color: rgb(25, 37, 3);
        padding: 20px;
        font-size: 16px;
    }
}